/DragonRaceGame/Intermediate/CachedAssetRegistry_0.bin
/DragonRaceGame/Saved/Logs/DragonRaceGame.log
/DragonRaceGame/Saved/Config/WindowsEditor/Editor.ini
/DragonRaceGame/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
/DragonRaceGame/Saved/AutoScreenshot.png
/DragonRaceGame/Saved/Autosaves/PackageRestoreData.json
/DragonRaceGame/Saved/Autosaves
/DragonRaceGame/Saved/Config/CrashReportClient
/DragonRaceGame/Saved/Logs
/DragonRaceGame/Saved/Config
/DragonRaceGame/Saved/Crashes
/DragonRaceGame/Saved/SourceControl
